body{
    font-family: "Montserrat",sans-serif;
    text-align: center;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat",sans-serif;
  }
  
  .container-fluid{
    padding: 7% 15%;
  }
  
  .color-section {
    background-color: #005F73;
    color: #fff;
  }
  
  .white-section{
     background-color: #fff;
  }
  
  .mt-5 {
      margin-top: 5rem!important;
  }
  
  .mb-4 {
      margin-bottom: 2.5rem!important;
  }
  
  
  
  /* Headings */
  .big-heading {
    font-family: "Monserrat",sans-serif;
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 900;
  }
  
  .section-heading {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  /* Navbar */
  .navbar {
      font-size: 1.35rem;
      position: relative;
      display: flex;
      /* flex-wrap: wrap; */
      align-items: center;
      justify-content: space-between;
      padding: 0 0 4.5rem 0;
      z-index: 10;
    }
  
  .navbar-brand {
      font-family: "Ubuntu";
      padding-top: .3125rem;
      padding-bottom: 0.3125rem;
      margin-right: 1rem;
      font-size: 2.5rem;
      text-decoration: none;
      white-space: nowrap;
      font-weight: bold;
  }
  
  .nav-item{
    padding: 0 18px;
  }
  
  .nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 400;
  }
  
  /* Title section */
  #title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
  }
  
  /* Download Buttons */
  .download-button{
    margin: 5% 3% 5% 0%;
  }
  
  /* Title Image */
  .title-image{
    transform: rotate(25deg);
    position: absolute;
    top: 59px;
    border-radius: 256px 28px 125px;
    width: 40em;
  }
  
  @media (max-width:1028px) {
    .title-image {
      position: static;
      transform: rotate(0);
    }
  
    #title{
      text-align: center;
    }
  }
  
  /* Features */
  #features{
    position: relative;
  }
  
  .feature-title {
    font-size: 1.5rem;
  }
  
  .feature-padding{
    padding: 5%;
  }
  
  .feature-color{
    color: #8f8f8f;
  }
  
  .icon-size{
    font-size: 5.5rem;
    padding: 0 0 5% 0;
    color: #ef8172;
  }
  
  .icon-size:hover{
    color: #ff4c68;
  }
  
  /* Testimonial Section */
  #testimonials {
    background-color: #ef8172;
    color: #fff;
  }
  
  .testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
  }
  
  #press {
    background-color: #ef8172;
    padding-bottom: 3%;
  }
  
  .press-logo {
    width: 15%;
    margin: 20px 20px 20px 50px;
  }
  
  /* Pricing Section */
  #pricing {
    padding: 100px;
  }
  
  .pricing-column{
    padding: 3% 2%;
  }
  
  .price-text {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  /* Call To Action */
    .cta-copy {
      font-size: 2.5rem;
      line-height: 1.5;
      font-weight: 900;
    }
  
  .social-icons{
    margin: 20px 10px;
  }